@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body{
    background: url('imgs/fundo.jpg') no-repeat center center fixed;
    color:#6ac261;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-size: 1.2rem;
}

h1 {
    text-align: center;
    font-family: "Press Start 2P", cursive;
    color: #a288ff;
}

h2 {
    color:#a288ff;
    text-align: center;
    font-family: Comic Sans MS, cursive, sans-serif;
}

p {
    color:#a288ff
}
header {
    text-align: center;
    background: transparent;
    color: hsla(249, 100%, 70%, 0.8);
    padding: 4px 0 10px 0;
    text-align: center;
    font-weight:bold;
    width: 100%;
}

.tela-de-inicio { 
    text-align: center;
    background: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
    


.slot-machine {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 15px;
    margin: 0 auto;
    z-index: 1;
}


.slot-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

#tamagoshi {
    display: none;
    position: absolute;
    z-index: -1;  
    width: 1200px;   /* diminua ou aumente como quiser */   
    top: -460px;           /* DIMINUA ESSE VALOR para subir */
    left: 46%;            /* opcional — centralizado */
    transform: translateX(-50%);
}

.item {
    font-size: 2.5rem;
    background: rgba(255, 255, 255, 0.1);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.2);
}

.controles {
    padding: 15px;
    display:flex;
    gap:10px;
    align-items: center;
}

.botao {
    padding: 15px;
    border:none;
    border-radius: 10px;
    font-weight:bold;
    cursor:pointer;
    flex-grow: 10000;
    align-items: center;
}

.tela-de-jogo .botao {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.tela-de-jogo .botao button {
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
}

.deposito {
    background-color: #694ce998;
}

.apostar {
    background-color: #2f00ff;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    color: #824adb;
    margin-top: 20px;
}

.item-1  {
    font-size:2.5rem;
    background-color: rgba(255,255,255,0.1);
    margin: 10px;
    width:60px;
    height:60px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255,255,255,0.1);
}

.item-2 {
    font-size:2.5rem;
    background-color: rgba(255,255,255,0.1);
    margin: 10px;
    width:60px;
    height:60px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255,255,255,0.1);
}

.item-3 {
    font-size:2.5rem;
    background-color: rgba(255,255,255,0.1);
    margin: 10px;
    width:60px;
    height:60px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255,255,255,0.1);
    order:-3;
}

.item-4 {
    font-size:2.5rem;
    background-color: rgba(255,255,255,0.1);
    margin: 10px;
    width:60px;
    height:60px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255,255,255,0.1);
}

.item-5 {
    font-size:2.5rem;
    background-color: rgba(255,255,255,0.1);
    margin: 10px;
    width:60px;
    height:60px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255,255,255,0.1);
}

.item-6 {
    font-size:2.5rem;
    background-color: rgba(255,255,255,0.1);
    margin: 10px;
    width:60px;
    height:60px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255,255,255,0.1);
}

.item-7 {
    font-size:2.5rem;
    background-color: rgba(255,255,255,0.1);
    margin: 10px;
    width:60px;
    height:60px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255,255,255,0.1);
    order:-3;
}

.item-8 {
    font-size:2.5rem;
    background-color: rgba(255,255,255,0.1);
    margin: 10px;
    width:60px;
    height:60px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255,255,255,0.1);
}

.item-9 {
    font-size:2.5rem;
    background-color: rgba(255,255,255,0.1);
    margin: 10px;
    width:60px;
    height:60px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255,255,255,0.1);
}

mark {
    background-color: #9366fa;
    color: white;
    padding: 0 4px;
    font-family:cursive
}

.start-button {
    background-color: #9e88ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
}

.rules-button {
    background-color: #9b85ff;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
}